 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 
 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: aqua;
 }

 .tabs {
     position: relative;
     width: 40%;
     background-color: aliceblue;
     height: 40%;
     padding: 20px;
 }

 .tabs__content {
     display: none;
     margin: 20px 0;
 }

 h2 {
     margin: 10px 0;
     font-family: 'Rubik', sans-serif;
     
 }

 .tabs__name {
     cursor: pointer;
     position: absolute;
     width: 100px;
     height: 30px;
     text-align: center;
     line-height: 30px;
font-family: 'Rubik', sans-serif;
 }

 #secondTab {
     left: 120px;

 }

 #thirdTab {
     left: 220px;
 }

 .bg {
     background: aqua;
     border-radius: 10%;
 }
 .tabs__content{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    padding: 30px 0;
    text-align: justify;
    position:absolute;
    width: 90%;

 }
 .fa-solid, .fa-regular{
    color: green;

 }
 @media all and (max-width:460px) {
    .tabs{
        width: 90%;
    }
 }
 @media all and (min-width:461px) and (max-width: 1200px) {
    .tabs{
        width: 70%!important;
    }
 }